.block-1{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
  }
  .block-2{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
  }
  .block-3{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
  }
  
  